<footer class="foot">
<!-- <table>
  <thead><th class="bg-primary"><td class="bg-primary"></td></tr>
    <tr class="bg-success"> <td class="bg-primary">...</td></tr>
    <tr class="bg-warning"><td class="bg-success">...</td></tr>
    <tr class="bg-danger"><td class="bg-warning">...</td></tr>
    <tr class="bg-info"> <td class="bg-info">...</td></tr></thead>
    <div class="table-responsive"> -->
        <div   class="container" >
        <table class="table table-sm table-hover text-white" id="table-province">
          <thead>
            <!-- <tr class="tab-header"> -->
                <tr  style="border: yellow;" style="text-align: center;"> <th colspan="2" style="background-color: black;"  ><h1>DO's And Dont's</h1></th> </tr>
                <tr class="bg-success"> <th>Do✔️</th> <th >Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub ✋ 🧼 🚰</th> </tr>
                <tr class="bg-success"> <th>Do✔️</th><th >Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze 🤧 👃 💪</th> </tr>
                <tr class="bg-success"> <th>Do✔️</th><th >Avoid close contact (1 meter or 3 feet) with people who are unwell 🙏 😷 🚶‍</th> </tr>
                <tr class="bg-success"><th>Do✔️</th> <th >Stay home and self-isolate from others in the household if you feel unwell 🏠 👨 💉</th> </tr>
                <tr class="bg-danger"><th>Don❌ t</th> <th >Touch your eyes, nose, or mouth if your hands are not clean 👃 👁️ 🤭</th> </tr>

            
          </thead>
        </table>
    </div>

<!-- On cells (`td` or `th`) -->
<!-- <tr>
  <td class="bg-primary">...</td>
  <td class="bg-success">...</td>
  <td class="bg-warning">...</td>
  <td class="bg-danger">...</td>
  <td class="bg-info">...</td>
</tr> -->
<!-- </table> -->
</footer>
