  .bg-def {
    background: #090a0c;
  }
  .tab-header{
      background-color: brown;
  }
  /* .tr-hover{
      background-color: blueviolet;
  } */
  .tr-hover:hover {
    color: black;
    background: #ffffff !important;
  }
  
.jumbotron{
  /* background-color: aqua; */
  height: 200px;
  width: 10000x;;
}